<div class="container mt-5 mb-5">
    <div class="row no-gutters">
        <div class="col-md-4 col-lg-4"><img
                src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png"></div>
        <div class="col-md-8 col-lg-8">
            <div class="d-flex flex-column">
                <div class="d-flex flex-row justify-content-between align-items-center p-5 bg-dark text-white">
                    <h3 class="display-5">Amelly Anderson</h3>
                    <button class="btn btn-warning">Editar</button>
                </div>
                <div class="p-3 bg-black text-white d-flex flex-row justify-content-between align-items-center p-5">
                    <h5>Administrador</h5>
                    <h6>admin@gmail.com</h6>
                </div>
                <div class="d-flex flex-row text-white">
                    <div class="p-4 bg-primary text-center skill-block">
                        <h4>5</h4>
                        <h6>Estudiantes</h6>
                    </div>
                    <div class="p-3 bg-success text-center skill-block">
                        <h4>10</h4>
                        <h6>Profesores</h6>
                    </div>
                    <div class="p-3 bg-warning text-center skill-block">
                        <h4>10</h4>
                        <h6>Profesores validados</h6>
                    </div>
                    <div class="p-3 bg-danger text-center skill-block">
                        <h4>2</h4>
                        <h6>Profesores Pendientes</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>