<div class="card mt-5 h-100">

    <img class="card-img-top" src="{{myTeacher.avatar}}" alt="avatar image">

    <div class="card-body text-center pb-0">
        <h5 class="card-titlela ">{{myTeacher.name}} {{myTeacher.name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted ">{{myTeacher.city}}</h6>
        <ul class="list-group list-group-flush">
            <li class="list-group-item border border-0">Rama</li>
            <p class="card-text pb-2 border-bottom">{{myTeacher.email}}</p>
        </ul>
        <a href="#" class="btn btn-primary mt-2 ">Ver perfil</a>
    </div>

    <div class="card-footer">
        <small class="text-muted">Rating</small>
    </div>

</div>