<div class="card mt-4">
    <div class="text-center">
        <img alt="" class="rounded-circle" [src]="myTeacher.avatar">
    </div>
    <div class="card-body text-center">
        <h4 class="m-b-xs"><strong>{{myTeacher.name}}</strong></h4>
        <h4 class="m-b-xs mt-0"><strong>{{myTeacher.surname}}</strong></h4>

        <div class="font-bold">Rama</div>
        <address class="m-t-md">
            <strong>{{myTeacher.city}}, {{myTeacher.province}}</strong><br>
            795 Folsom Ave, Suite 600<br>
            {{myTeacher.address}}<br>
            {{myTeacher.phone}}
        </address>
    </div>

    <div class="card-footer text-center">
        <div class="m-t-xs btn-group">
            <a class="btn btn-xs text-warning"><i class="fa fa-star"></i></a>
            <a class="btn btn-xs text-warning"><i class="fa fa-star"></i></a>
            <a class="btn btn-xs text-warning"><i class="fa fa-star"></i></a>
            <a class="btn btn-xs text-warning"><i class="fa fa-star"></i></a>
        </div>
    </div>

</div>