body {
  margin-top: 20px;
  background: #eee;
}
h4 {
  line-height: 0.8;
}

a {
  text-decoration: none !important;
}

img {
  width: 100px;
  height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card {
  min-height: 450px;
}

.card:hover {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  animation-name: example;
  animation-duration: 0.25s;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
