table {
    width: 100%;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td,
  th {
    width: 14.2%;
  }

  .teacher-row:hover {
    background: whitesmoke;
  }
  
  mat-icon {
    padding-top: 2px;
  }

  .table-container {
    max-width: 100%;
    overflow: auto;
  }
  
  