<div class="container d-flex justify-content-center mt-5">

    <div class="card text-center mb-5">

        <div class="circle-image">
            <img src="https://i.imgur.com/hczKIze.jpg" width="50">
        </div>

        <span class="name mb-1 fw-500">-Nombre profesor-</span>
        <small class="text-black-50">-Rama de conocimiento-</small>
        <small class="text-black-50 font-weight-bold">-Asignaturas que imparte-</small>


        <div class="rate bg-dark py-3 text-white mt-3">

            <h6 class="mb-0">Valora a este profesor</h6>
            <div class="rating">
                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
            </div>

            <h6 class="mb-2">Comentarios</h6>
            <div class="rating-text px-3">
                <textarea class="form-control" name="comments" cols="30" rows="10"></textarea>
            </div>

            <div class="buttons px-4 mt-0">
                <button class="btn btn-primary btn-block rating-submit" [routerLink]="['/student-profile']">Enviar valoración</button>
            </div>
        </div>

    </div>

</div>