<nav class="navbar navbar-expand-lg border-5 border-bottom border-primary navbar-dark p-4">
    <div class="container-fluid">
        <!-- <a class="navbar-brand text-white fw-bold" [routerLink]="['/home']">TeacherApp</a> -->
        <img src="../../../assets/LogoBlanco.png" width="100px" height="100px" [routerLink]="['/home']"
            class="offcanvas-title" id="offcanvasDarkNavbarLabel" alt="TeacherApp" title="TeacherApp">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li>
                    <button class="btn register-btn" [routerLink]="'/registro'" *ngIf="!loggedUser">Registrarme</button>
                </li>
                <li>
                    <button class="btn login-btn me-3" [routerLink]="'/login'" *ngIf="!loggedUser">Login</button>
                </li>
                <li>
                    <button class="btn profile-btn btn-primary me-3" [routerLink]="'/perfil'" *ngIf="loggedUser">Mi
                        perfil</button>
                </li>
            </ul>
        </div>
    </div>
</nav>