<div class="footer-basic">
    <footer>
        <div class="social">
            <a href="#">
                <i class="icon ion-social-instagram"></i>
            </a>
            <a href="#">
                <i class="icon ion-social-snapchat"></i>
            </a>
            <a href="#">
                <i class="icon ion-social-twitter"></i>
            </a>
            <a href="#">
                <i class="icon ion-social-facebook"></i>
            </a>
        </div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Home</a></li>
            <li class="list-inline-item"><a href="#">Servicios</a></li>
            <li class="list-inline-item"><a href="#">Acerca de</a></li>
            <li class="list-inline-item"><a href="#">Aviso Legal</a></li>
            <li class="list-inline-item"><a href="#">Politica de Privacidad</a></li>
        </ul>
        <p class="copyright">UNIR - Master Full Stack Developer © 2022</p>
    </footer>
</div>