<div class="landing-page">
    <div class="center-text">
        <h3 class="coming">Lanzamiento el 14 de Diciembre</h3>
        <h1 class="app-name">App-Teachers</h1>
        <button class="btn register-btn mb-3 student-btn" [routerLink]="'/register/estudiante'">Quiero ser Estudiante</button><br>
        <button class="btn register-btn teacher-btn" [routerLink]="'/register/profesor'">Quiero ser Profesor</button>
    </div>
    <div class="images">
        <div class="planets">
            <img src="../../../assets/assets-lp/Planeta3.png" alt="" class="planet planet-3">
            <img src="../../../assets/assets-lp/Planeta2.png" alt="" class="planet planet-2">
            <img src="../../../assets/assets-lp/Planeta1.png" alt="" class="planet planet-1">
            <img src="../../../assets/assets-lp/Planeta4.png" alt="" class="planet planet-4">
        </div>
        <div class="points">
            <div class="left-points">
                <img src="../../../assets/assets-lp/Point.png" alt="" class="point point-l-1">
                <img src="../../../assets/assets-lp/Point.png" alt="" class="point point-l-2">
                <img src="../../../assets/assets-lp/Point.png" alt="" class="point point-l-3">
                <img src="../../../assets/assets-lp/Point.png" alt="" class="point point-l-4">
                <img src="../../../assets/assets-lp/Point.png" alt="" class="point point-l-5">
                <img src="../../../assets/assets-lp/Point.png" alt="" class="point point-l-6">
            </div>
            <div class="right-points">
                <img src="../../../assets/assets-lp/Point.png" alt="" class="point point-r-1">
                <img src="../../../assets/assets-lp/Point.png" alt="" class="point point-r-2">
                <img src="../../../assets/assets-lp/Point.png" alt="" class="point point-r-3">
                <img src="../../../assets/assets-lp/Point.png" alt="" class="point point-r-4">
                <img src="../../../assets/assets-lp/Point.png" alt="" class="point point-r-5">
                <img src="../../../assets/assets-lp/Point.png" alt="" class="point point-r-6">
                <img src="../../../assets/assets-lp/Point.png" alt="" class="point point-r-7">
                <img src="../../../assets/assets-lp/Point.png" alt="" class="point point-r-8">
            </div>
        </div>
    </div>
</div>
