<div class="landing-page">
    <div class="center-text">
        <h3 class="coming">Lanzamiento el 14 de Diciembre</h3>
        <h1 class="app-name">App-Teachers</h1>
        <button class="btn register-btn">Registrarme</button>
    </div>
    <div class="planets">
        <img src="../../../assets/assets-lp/Planeta3.png" alt="Planeta1" class="planet planet-3">
        <img src="../../../assets/assets-lp/Planeta2.png" alt="" class="planet planet-2">
        <img src="../../../assets/assets-lp/Planeta1.png" alt="" class="planet planet-1">
        <img src="../../../assets/assets-lp/Planeta4.png" alt="" class="planet planet-4">
    </div>
</div>
