
<div class="container">
    <div class="main-body">

        <div class="row gutters-sm h-100">
            <div class="col-md-4 mb-3">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img [src]="teacherData?.avatar" [alt]="teacherData?.name" class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4>{{ teacherData?.name }} {{ teacherData?.surname }}</h4>
                                <p class="text-secondary mb-1">Profesor {{ teacherData?.branch_title }}</p>
                                <p class="text-muted font-size-sm">{{ teacherData?.city }}</p>
                                <div>
                                    <a class="btn btn-primary" [routerLink]="['/actualizar/profesor', teacherData?.teacher_id]">Editar mi perfil</a>
                                </div>
                                <div class="mt-1">
                                    <a class="btn btn-danger text-white" (click)="logout()">Cerrar sesión</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Nombre completo</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ teacherData?.name }} {{ teacherData?.surname }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ teacherData?.email }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Teléfono</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ teacherData?.phone }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Dirección</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ teacherData?.address }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Localidad</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ teacherData?.city }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Provincia</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ teacherData?.province }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Asignaturas</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ teacherData?.subjects }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       <app-teacher-classes-list [teacherId] = "teacherId"></app-teacher-classes-list>       
   </div>
</div> 
