.all{
    align-items: center;
}
.all-login{
    margin: 5rem 20%;
    align-items: center;
    padding: 2rem;
}
.login-title{
    font-size: 2.5rem;
}
.inputs{
    margin: 2rem;
    display: block;
}

.email, .password{
    width: 100%;
    margin-bottom: 2rem;
    padding: 0.5rem 1rem;
    border: 2px solid black;
    border-radius: 5px;
}
.password{
    margin-bottom: 0;
}
.btn{
    margin: 0 2rem;
}

@media (max-width: 595px) {
    .login-title{
        font-size: 1.5rem;
    }
}