
    <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">
        <mat-card>
            <mat-calendar (selectedChange)="onSelect($event)" [(selected)]="selected"></mat-calendar>
        </mat-card>
    </div>
    <div class="col-lg-8 col-md-6 col-sm-12 mx-auto">
        <p>Fecha seleccionada: {{selected}}</p>
        <div class="d-flex flex-wrap">
            <input type="button" *ngFor="let slot of slots" [disabled]="!slot.available" (click)="selectTime(slot, $event)"
                class="col-lg-3 col-md-6 col-sm-12 m-3 p-3 border text-center" [value]="slot.hour">
        </div>
            <button class="btn btn-primary btn-lg btn-block" (click)="bookSlot()" [disabled]="selectedSlot==null || selected==null">Reservar</button>
    </div>



  