agm-map {
    width: 100%;
    height: 550px;
}

.card-user {
    width: 380px;
    border: none;
    border-radius: 15px;
    padding: 8px;
    background-color: #fff;
    position: relative;
    height: 370px;
}

.upper {
    height: 100px;
}

.upper img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.user {
    position: relative;
}

.profile img {
    height: 80px;
    width: 80px;
    margin-top: 2px;
}

.profile {
    position: absolute;
    top: -50px;
    left: 38%;
    height: 90px;
    width: 90px;
    border: 3px solid #fff;

    border-radius: 50%;
}

.details {
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    height: 35px;
}

.stats span {
    font-size: 29px;
}

.info {
    margin-top: 10px;
    font-size: 16px;
}

#showAllTeachersBtn {
    color: white;
    width: 300px;
    height: 60px;
    font-size: 1.1rem;
    border-radius: 50px;
    margin-left: 1rem;
}

#showAllTeachersBtn:hover {
    background-color: #001033;
    transition: all .5s;
}