<section id="map-teachers" class="googlemap container mt-3">
    <!-- <div class="form-group">
        <label>Busqueda</label>
        <input type="text" id="autocomplete" class="form-control my-search-box"
            placeholder="Busca la localización que desees" autocorrect="off" autocapitalize="off" spellcheck="off" />

    </div> -->
    <div class="card mapa">
        <!-- User coordinates to locate the map -->
        <agm-map [latitude]="currentUser !== undefined || exists ? userlat : 3"
            [longitude]="currentUser !== undefined || exists ? userlong : 40"
            [zoom]="currentUser !== undefined && currentUser.longitude || exists ? 13 : 2">
            <!-- User marker -->
            <agm-marker *ngIf='currentUser !== undefined && currentUser.longitude || exists'
                [latitude]="currentUser !== undefined || exists ? userlat : 3"
                [longitude]="currentUser !== undefined || exists ? userlong : 40"
                [iconUrl]="$any({url: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png', scaledSize: { width: 50, height: 50 } })">
                <agm-info-window *ngIf='currentUser !== undefined'
                    class="container d-flex justify-content-center align-items-center ">

                    <div class="upper">
                        <img src="https://i.imgur.com/Qtrsrk5.jpg" class="img-fluid">
                    </div>
                    <div class="user text-center">
                        <div class="profile">
                            <img [src]='currentUser?.avatar' class="rounded-circle" width="80">
                        </div>
                    </div>
                    <div class="mt-5 text-center">
                        <h4 class="mb-0">{{currentUser?.name}} {{currentUser?.surname}}</h4>
                        <span class="text-muted d-block mb-2">{{currentUser?.city}}, {{currentUser?.province}}</span>
                        <button class="btn btn-primary btn-sm details" [routerLink]="['/perfil']">Detalles</button>
                        <!-- <div class="d-flex justify-content-between align-items-center mt-4 mb-2 px-4">
                            <div class="stats">
                                <h6 class="mb-0">Profesores</h6>
                                <span>0</span>
                            </div>
                            <div class="stats">
                                <h6 class="mb-0">Clases</h6>
                                <span>0</span>
                            </div>
                            <div class="stats">
                                <h6 class="mb-0">Puntuación</h6>
                                <span>0</span>
                            </div>
                        </div> -->
                    </div>
                </agm-info-window>
            </agm-marker>
            <!-- Teacher marker -->
            <agm-marker *ngFor="let teacher of arrTeachers" [latitude]="teacher?.latitude"
                [longitude]="teacher?.longitude">
                <agm-info-window class="container d-flex justify-content-center align-items-center card-user">
                    <div class="upper">
                        <img src="https://i.imgur.com/Qtrsrk5.jpg" class="img-fluid">
                    </div>
                    <div class="user text-center">
                        <div class="profile">
                            <img [src]='teacher?.avatar' class="rounded-circle" width="80">
                        </div>
                    </div>
                    <div class="mt-5 text-center">
                        <h4 class="mb-0">{{teacher?.name}} {{teacher?.surname}}</h4>
                        <span class="text-muted d-block mb-2">{{teacher?.city}}</span>
                        <button class="btn btn-danger btn-sm details"
                            [routerLink]="['/profesor', teacher?.teacher_id]">Detalles</button>
                        <!-- <div class="d-flex justify-content-between align-items-center mt-4 mb-2 px-4">
                            <div class="stats">
                                <h6 class="mb-0">Alumnos</h6>
                                <span>0</span>
                            </div>
                            <div class="stats">
                                <h6 class="mb-0">Rama</h6>
                                <span class="info">Programación</span>
                            </div>
                            <div class="stats">
                                <h6 class="mb-0">Puntuación</h6>
                                <span>0</span>
                            </div>
                        </div> -->
                    </div>
                </agm-info-window>
            </agm-marker>
        </agm-map>
    </div>
<hr>
</section>

<section class="container mt-4">
    <h4>Explora todos los profesores</h4>
    <app-teacher-list></app-teacher-list>
</section>

<script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLzQCiwfqymU9I2Ha_PcThWv3oEC78ij4&libraries=places&callback=initMap"></script>